html, body{
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main'
        'footer footer';
        grid-template-columns: 10% auto;
        height: 100vh;  
}
nav, cabecera {
    background-color: #b325b3;
    grid-area: header;
    padding: 0.5rem;
    text-align: center;
    color:beige;
}
section, .principal {
    display: grid;
    background-color: #f3eded;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding-bottom: 10px;
    padding-right: 1.2rem;
}
aside, .menu-lateral {
    background-color:#f4f6f7;
    grid-area: sidebar;
}
footer{
    grid-area: footer;
    background-color: #b325b3;
    text-align: center;
    padding: 1rem;
    color:beige;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-container ul{
    list-style: none;
}
.flex-container h3{
    height: 0rem;
    text-align: center;
}
.flex-item{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.flex-item img{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.flex-item button{
    width: 100%;
    background-color: blue;
    color: white;
    padding: 0.8rem;
}
.flex-item h5{
    margin: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    color: black;
}
